<nav>
  <ul>
    <li><a routerLink="/recaptcha-v2">reCAPTCHA v2</a></li>
    <li><a routerLink="/recaptcha-v3">reCAPTCHA v3</a></li>
  </ul>
</nav>

<main>
  <div>
    <div>
      <div>
        <a>
          <svg>
            <!-- SVG content -->
          </svg>
        </a>
      </div>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>